POSTGRES_DB=factory_erp
POSTGRES_USER=factory_erp_app
POSTGRES_PASSWORD=dev_only_change_me
POSTGRES_PORT=5432
POSTGRES_CONNECTION_STRING=Host=localhost;Port=5432;Database=factory_erp;Username=factory_erp_app;Password=dev_only_change_me
ConnectionStrings__FactoryErp=Host=localhost;Port=5432;Database=factory_erp;Username=factory_erp_app;Password=dev_only_change_me
ASPNETCORE_ENVIRONMENT=Development
DEFAULT_TIMEZONE=Europe/Istanbul
